In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("ner.csv")
df.head()

,text,labels
0,Thousands of demonstrators have marched throug...,O O O O O O B-geo O O O O O B-geo O O O O O B-...
1,Iranian officials say they expect to get acces...,B-gpe O O O O O O O O O O O O O O B-tim O O O ...
2,Helicopter gunships Saturday pounded militant ...,O O B-tim O O O O O B-geo O O O O O B-org O O ...
3,They left after a tense hour-long standoff wit...,O O O O O O O O O O O
4,U.N. relief coordinator Jan Egeland said Sunda...,B-geo O O B-per I-per O B-tim O B-geo O B-gpe ...

In [5]:
df.drop('labels', axis=1, inplace=True)

In [6]:
df.head()

                                                text
0  Thousands of demonstrators have marched throug...
1  Iranian officials say they expect to get acces...
2  Helicopter gunships Saturday pounded militant ...
3  They left after a tense hour-long standoff wit...
4  U.N. relief coordinator Jan Egeland said Sunda...

In [7]:
df2 = df.tail(25)

In [8]:
df2.to_csv(r'nerfile.txt', header=None, index=None, sep='\t', mode='a')